<h1>All Articles</h1>

<ul>
    <% @articles.each do |article| %>
        <li>
            <h3><%= link_to article.title, article_path(:id => article.title) %></h3>
            <%= article.text %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Article', new_article_path %>